#header {
    height:110px;
    padding:40px 0 0;
    position:relative;
    margin: auto;
    width: 96%;
   /* border: 3px solid green;*/
}
html,body {
    background-color: #000000;
    height:100%;
    color:#473e39;
    font-family: Helvetica, Arial, sans-serif;
    font-size:12px;
background: #000 url("../../images/recover/bg.jpg") no-repeat;
box-shadow: 0px 0px 10px rgba(34,116,157,0.5),0px 0px 10px rgba(34,116,157,0.5); 
background-size: 100%;
/*responssive*/
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
input {
    border-bottom: 1px solid #100;
    font-family: Arial;
    color: #FFF;
    background-color: #444;
    border-top: 1px solid #602833;
    border-left: 1px solid #602833;
    border-bottom: 1px solid #602833;
    border-right: 1px solid #602833;/*#16506D;*/
    box-shadow: 0px 0px 10px rgba(34,116,157,0.5);
}
.galerie {
  /*  background : #ccc;*/
    width : 360px; /* (50 + (5 * 2) + 10) * 5 + 10 */
	    margin: auto;
    width: 50%;
  /*  border: 3px solid green;*/
    padding: 10px;
}
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DF3F3F;
 height: 140px;
 background:#1d2228;
 opacity: 0.9;
 	box-shadow: 0px 0px 20px #fd9fa3;/* #22749D;*/
    margin-top: 10px;
    border: 1px solid #ffc5c7; /*#22749D;*/
    border-collapse: separate !important;
 }
 label       {     font-size: 13px;font-weight: bold; color:#ffeae9;}
 p    {color:#ffeae9;}
 legend {
 color:#ffeae9;
 /*color:#b5cfea;*/
 font-weight:bold;font-size: 20px;
 }
.boîte {
   /* background : #69c;*/
    float : left;
    margin : 10px 0 10px 10px;
    padding : 5px;
    text-align : center;
}
.boîte legend {
    text-align : left;
}
.clear {
    clear : both;
    visibility : hidden;
}
.centrer{
    margin: auto;
    width: 45%;
   /* border: 3px solid green;*/
    padding: 10px;
}
 @media screen and (max-width:1000px){
.centrer{
    margin: auto;
    width: 100%;
   /* border: 3px solid green;*/
    padding: 10px;
}
}